<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automations</title>
</head>
<body>
    <h1>Select an Automation</h1>
    <div>
        <a href="{{ url_for('main.loadPositions') }}">
            <button>Public Positions</button>
        </a>
        <a href="#">
            <button>Quarterly Reports</button>
        </a>
        <a href="#">
            <button>Other</button>
        </a>
    </div>
</body>
</html>
